
a.sec-ref:before {
    content: "“";
}

a.sec-ref:after  {
    content: "”";
}

span.orcid a  {
    text-decoration: none !important;
    border: none !important;
}

span.orcid a img {
    transform: translateY(3px);
}

html {
    background: white !important;
}